.text-align-center {
		text-align : center;
		color : blue;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: 260px;
    background-color: white;
}

.navbar-brand > img {
    display: block;
    height: 30px;
    width: 55px;
    border-radius: 20px;
}